:root {
  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --white-txt-bg-cl: #ffffff;
  --grey-txt-cl: #757575;
  /* BG colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
}

/* общее */

/* выбрать основной фон, цвет и шрифт для текста*/
body {
  background: var(--white-txt-bg-cl);
  color: var(--main-txt-cl);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/* убрать точки */
li {
  list-style: none;
}
img {
  display: block;
}
/* убрать декорацию ссылок */
a {
  text-decoration: none;
  font-style: normal;
}
/* убийство отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
/* общий контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-header {
  display: flex;
}
/* flex/преимущества, чем занимаемся и наша команда отступ боковой */
.flex {
  display: flex;
  gap: 30px;
}
/* шапка */

/* логотип */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-txt-cl);
}
/* Логотип буквы другого цвета */
.logo-color {
  color: #000000;
}
/* боковые отступы между навигацией и контактами */
.site-nav {
  margin-left: 93px;
  gap: 50px;
}
.site-contact {
  margin-left: auto;
  gap: 50px;
}
/* Навигация+контакты шапки и футера */
.nav-link,
.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* контакты цвет */
.contact-link {
  color: var(--grey-txt-cl);
}
/* подсветка навигация+контакты  */
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}
/* подсветка текущей страницы */
.curent {
  color: var(--accent-txt-cl);
  position: relative;
}
/* линия подчеркивание */
.curent::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}
/* соцсети иконки */
.adress-item {
  display: flex;
  gap: 10px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-txt-cl);
}
.adress-icon {
  fill: currentColor;
}
/* Линия в низу хедора */
.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
/* мейн */
/* герой картинка */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* h1 размеры и выравнивание */
.hero-title {
  width: 696px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-bg-cl);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* кнопка-герой размеры и выравнивание */
.hero-button {
  display: block;
  color: var(--white-txt-bg-cl);
  min-width: 216px;
  padding: 10px 32px;
  background-color: var(--accent-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
}
/* преимущества */
.features-item {
  width: 270px;
}
.features-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.features-icon {
  width: 70px;
  height: 70px;
}
/* h2 hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* h3 преимущества */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
/* p преимущества */
.features-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-txt-cl);
}
/* преимущества */
.section-change {
  padding-top: 0;
}
/* ширина li jobs*/
.job-item {
  width: 370px;
}
/* заголовки h2 */
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50adress-linksection-changepx;
}
/* текст h3 */
.text-shade{
  font-size: 14px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color:var(--white-txt-bg-cl);
  padding-top: 27px;
  padding-bottom: 27px;

}
/* Прозрачная надпись и фон поверх фото */
.container-shade{
  position: relative;
}
.container-shade-text{
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom:0;
  width: 370px;
}
/* Наша команда */
.section-team {
  background: var(--light-bg-cl);
}
/* Общий контейнер команды */
.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Сотрудники */
.employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
/* дожность */
.employees-job {
  font-size: 16px;
  line-height: 1.19;
  color: var(--grey-txt-cl);
  text-align: center;
  margin-bottom: 16px;
}
/* width li team+shadows */
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-txt-bg-cl);
}
.social-list {
  gap: 10px;
  justify-content: center;
}
/* соцсети иконки */
.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--white-txt-bg-cl);
  background-color: var(--accent-txt-cl);
}
.social-icon {
  fill: currentColor;
}
/* Наши клиенты */
/* заголовки h2 */
.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
/* лого компаний */
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}
.clients-icon {
  fill: currentColor;
}
/* Подвал */
/* контейнер футер */
.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.flex-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
/* логотип футера */
.footer-logo {
  display: block;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-txt-cl);
  margin-bottom: 20px;
}
/* логотип футера буквы другого цвета */
.logo-footer {
  color: var(--white-txt-bg-cl);
}
/* футер адрес*/
.addres-link {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-txt-bg-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* футер контакты */
.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* футер контакты маржен низ */
.footer-item + .footer-item {
  margin-top: 9px;
}
/* Подсветка адреса и контакты */
.addres-link:hover,
.addres-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}
/* контейнер адреса */

.social-footer {
  gap: 10px;
}
/* фон соцсетей линков */
.social-footer-link {
  background-color: #43444d;
  color: #ffffff;
}

/* h2 футер */
.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

/* 2 страница портфолио */
/* мейн 2 страница */

/* кнопки фильтры */
.buttons {
  display: block;
  color: var(--main-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: var(--light-bg-cl);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* подсветка фильтров */
.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* flex на фильтры и центрирование */
.flex-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
/*  имя проекта */
.portfolio-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
/* тип проекта */
.portfolio-filter {
  font-size: 16px;
  line-height: 1.9;
  color: var(--grey-txt-cl);
}
/* flex в несколько рядов проектов */
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* каждый проект отдельно */
.flex-item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* текст при ховере портфолио */
.description-text{
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-txt-bg-cl);
  padding: 63px 24px;
}
/* Прозрачная надпись и фон поверх фото */
.container-portfolio{
  position: relative;
  overflow: hidden;
}
.container-portfolio-text{
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom:0;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.flex-item:hover .container-portfolio-text,
.flex-item:focus .container-portfolio-text{
 transform: translateY(0);
}
/* тень при ховере */
.flex-item:hover,
.flex-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/* бордер футера в портфолио */
.footer-line {
  background-color: var(--dark-bg-cl);
  border: 1px solid #000000;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Backdrop + modal */
/* вихідний стан елемента (A) */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  z-index: 10; 
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* зміна стану backdrop (B) */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;  
  background-color:var(--white-txt-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .modal::after{
  transform: scale(1);
} */

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}