// buttons-----------
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  color: var(--white-txt-bg-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-btn-cl);
  }
}
