/* logo styles */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-txt-cl);
}

.logo__dark {
  color: var(--black-txt-cl);
}

.logo__light {
  color: var(--white-txt-bg-cl);
}
