/* socials link,footer */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-txt-bg-cl);
    background-color: var(--accent-txt-cl);
  }
}
.socials__link--secondary {
  background-color: #43444d;
  color: var(--white-txt-bg-cl);
}

.socials__icon {
  fill: currentColor;
}
.socials__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-txt-bg-cl);
  margin-bottom: 20px;
}
/* ============================== */
