/* ======== Global ======= */

body {
  background: var(--white-txt-bg-cl);
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/* ==================== */
