/* ============ Team ============= */
.team {
  background: var(--light-bg-cl);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.employees {
  display: flex;
  gap: 30px;
}

.employees__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees__container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-txt-bg-cl);
}

.employees__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.employees__job {
  font-size: 16px;
  line-height: 1.19;
  color: var(--grey-txt-cl);
  text-align: center;
  margin-bottom: 16px;
}
