/* ============ Work ============= */
.work {
  padding-top: 0;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.job {
  display: flex;
  gap: 30px;
}

.job__item {
  width: 370px;
  position: relative;
}

.job__container {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.job__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-txt-bg-cl);
  padding-top: 27px;
  padding-bottom: 27px;
}
/* ================================ */
